/*------------------------------------------------------------------
    Main Style Stylesheet
    Project:        HTML5 Template
    Version:        1.0
    Author:         M_Adnan
    Last change:    10/02/2015
    Primary use:    Creative, Coporate, Business, Portfolio, Personal
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
body 
 + WRAP
 + HEADER
 + NAVIGATION
 + BANNER
 + SERVICES
 + OUR FEATURED FOUNDERS
 + BLOG UPDATES 
 + APPOINMENT
 + NEWS FROM BLOG
 + PARTNERS / CLIENTS
 + FOOTER
 + SOCIAL ICONS
 + MEGA MENU
 + 3 MENU LEVEL 
-------------------------------------------------------------------*/
/*=======================================================
      IMPORT FILE
========================================================*/
@import url("../fonts/montserrat-fonts.css");
@import url("animate.css");
/*=======================================================
      THEME STYLING START
========================================================*/
* {
	margin: 0px;
	padding: 0px;
}
body {
	background: #FFF;
	font-weight: normal;
	position: relative;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
}
/*=======================================================
      WRAPPER
========================================================*/
#wrap {
	position: relative;
	width: 100%;
	overflow: hidden;
}
/*=======================================================
      HEADINGS
========================================================*/
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	color: #252525;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	letter-spacing: 0.5px;
	text-transform: uppercase;
}
h1 {
	font-size: 42px;
}
h2 {
	font-size: 36px;
}
h3 {
	font-size: 30px;
}
h4 {
	font-size: 24px;
	letter-spacing: 2px;
}
h5 {
	font-size: 20px;
	letter-spacing: 2px;
}
h6 {
	font-size: 16px;
	font-weight: bold;
}
p {
	font-weight: 400;
	color: #6f6f6f;
	line-height: 26px;
	text-rendering: optimizeLegibility;
}
button {
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
a {
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	text-decoration: none !important;
}
img {
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
	display: inline-block !important;
}
ul {
	margin-bottom: 0px;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: #141414;
}
p.intro-small {
	width: 80%;
	margin: 0 auto;
}
.text-transform-none {
	text-transform: none !important;
}
.text-white {
	color: #fff !important;
}
.text-bold {
	font-weight: bold !important;
}
.text-normal {
	font-weight: normal !important;
}
.font-12px {
	font-size: 12px !important;
}
.font-14px {
	font-size: 14px !important;
}
.font-16px {
	font-size: 16px !important;
}
.font-18px {
	font-size: 18px !important;
}
.font-20px {
	font-size: 20px !important;
}
.font-bold {
	font-weight: bold !important;
}
.font-normal {
	font-weight: normal !important;
}
.white-text {
	color: #fff !important;
}
.font-italic {
	font-style: italic;
}
.font-bold {
	font-weight: bold !important;
}
a:hover, a:focus {
	color: #ffe115;
}
.primary-color {
	color: #ffe115 !important;
}
.border-bottom-1 {
	border-bottom: 1px solid #ededed;
}
.position-center-center {
	left: 50%;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.font-playfair {
	font-family: 'Playfair Display', serif;
}
.font-montserrat {
	font-family: 'Montserrat', sans-serif;
}
.font-montserrat {
	font-family: 'Montserrat', sans-serif;
}
.font-hair-line {
	font-family: 'montserrathairline';
}
.font-light {
	font-family: 'montserratlight';
}
.font-regular {
	font-family: 'montserratregular';
}
.font-extra-bold {
	font-family: 'montserratbold';
}
.white-bg {
	background: #fff !important;
}
.relative {
	position: relative;
}
.line-height-24 {
	line-height: 24px !important;
}
.line-height-22 {
	line-height: 22px !important;
}
.line-height-26 {
	line-height: 26px !important;
}
.dark-text p {
	color: #141414;
}
.light-gray-bg {
	background: #f7f7f7 !important;
}
.customcolor1 {
	color: #448aff;
}
/*=======================================================
      BTN STYLE
========================================================*/
.btn {
	border: none;
	color: #fff;
	display: inline-block;
	padding: 5px 50px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	border-radius: 0px;
	font-family: 'Montserrat', sans-serif;
	line-height: 46px;
	background: #2d3a4b;
	letter-spacing: 1px;
	position: relative;
	z-index: 1;
}
.btn:hover {
	background: #fff;
	color: #ab4e52;
}
.btn-white {
	background: #fff;
	color: #ab4e52 !important;
}
.btn-white:hover {
	background: #ab4e52;
	color: #fff !important;
}
.tp-caption .btn {
	display: inline-block;
}
.btn-1 {
	font-family: 'Montserrat', sans-serif;
	border: 1px solid #965452;
	border-left: none;
	border-right: none;
	border-top-color: transparent;
	text-transform: uppercase;
	font-size: 10px;
	display: inline-block;
	padding: 10px;
	letter-spacing: 1px;
	color: #965452;
}
.btn-1 i {
	font-size: 10px;
	margin-left: 20px;
}
.btn-1.btn-2 {
	border-bottom-color: transparent;
	border-top: 1px solid #965452;
}
.btn-1:hover {
	color: #fff;
	background: #965452;
}
.btn-small {
	padding: 0 20px;
	font-size: 14px;
	line-height: 40px;
	letter-spacing: 1px;
}
.btn-round {
	background: none;
	border-radius: 50px;
	border: 1px solid #2d3a4b;
	color: #2d3a4b;
}
.btn-round:hover {
	background: #2d3a4b;
	color: #fff;
}
.parallax-bg {
	background-size: cover !important;
}
section {
	position: relative;
	overflow: hidden;
	width: 100%;
	background: #fff;
}
.text-shadow {
	text-shadow: 3px 0px 5px rgba(0,0,0,0.5);
}
.text-shadow-1 {
	text-shadow: 2px 3px 0 rgba(0,0,0,0.5);
}
.home-slider {
	position: relative;
}
#content {
	background: #fff;
	position: relative;
	z-index: 1;
}
/*=======================================================
      HEADING
========================================================*/
.heading {
	margin: 0 auto;
	margin-bottom: 80px;
	position: relative;
	z-index: 1;
}
.heading h3 {
	margin: 0px;
	font-size: 36px;
	color: #333333;
	font-weight: normal;
	text-transform: none;
	position: relative;
}
.heading h4 {
	font-weight: bold;
	color: #2d3a4b;
	font-size: 26px;
	margin: 0px;
	margin-bottom: 20px;
	letter-spacing: 5px;
}
.heading span {
	display: inline-block;
	width: 52%;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.1px;
	color: #666666;
	font-family: 'Playfair Display', serif;
}
.heading.light-head h3 {
	color: #fff;
}
.heading.light-head h4 {
	color: #fff;
}
.heading span {
	color: #666666;
}
.center-block {
	float: none;
}
.heading.style-left {
	margin-bottom: 30px;
}
.heading.style-left h4 {
	position: relative;
	overflow: hidden;
	display: inline-block;
}
.heading.style-left h4:before {
	content: "";
	position: absolute;
	bottom: 9px;
	height: 4px;
	background: #ffe115;
	height: 7px;
	width: 100%;
	z-index: -1;
}
.heading.style-left span {
	font-size: 36px;
	line-height: 48px;
	display: inline-block;
	width: 85%;
}
/*=======================================================
      HEADER
========================================================*/
header {
	width: 100%;
	z-index: 999;
	background: #fff;
	padding: 30px 0;
	position: relative;
}
header .container {
	padding: 0px;
}
header .navbar {
	border: none;
	margin: 0px;
	position: static;
	padding: 0px;
	border-radius: 0px;
	text-align: center;
	float: right;
}
header .logo {
	float: left;
	margin-top: 8px;
	position: relative;
}
header .logo img {
	z-index: 3;
	position: relative;
}
.sticky-wrapper {
	height: auto !important;
}
header .sticky {
	background: rgba(255,255,255,0.95);
	padding: 10px 0;
	left: 0px;
}
header .is-sticky .sticky {
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
header .navbar {
	display: inline-block;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
header .navbar li {
	display: inline-block;
	float: left;
	margin: 0 5px;
	position: relative;
}
header .sticky {
	width: 100%;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
header .navbar li a {
	font-size: 14px;
	color: #2d3a4b;
	font-weight: normal;
	padding: 15px 0px;
	margin:0 10px;
	letter-spacing: 3px;
	text-transform: uppercase;
}
header .navbar li a:before {
	width: 0px;
	margin: 0px auto;
	position: absolute;
	content: "";
	height: 6px;
	left:0px;
	top: 45%;
	z-index: -1;
	background: #ffe115;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-ms-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}
header .navbar li a:hover:before {
	width: 100%;
}
header .navbar li.active a:before {
	width: 100%;
	margin: 0px auto;
	position: absolute;
	content: "";
	height: 6px;
	top: 45%;
	left:0px;
	z-index: -1;
	background: #ffe115;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-ms-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}
.nav>li>a:focus, .nav>li>a:hover {
	background: none;
}
.ownmenu .nav .dropdown-menu {
	background: rgba(255,255,255,0.99);
	padding: 0px;
}
.ownmenu .dropdown-menu li {
	margin: 0px;
}
.ownmenu .nav .dropdown-menu li {
	position: relative;
	z-index: 2;
}
.ownmenu .nav .dropdown-menu li a {
	z-index: 1;
	position: relative;
}
.ownmenu .nav .dropdown-menu li a:before {
	background: #2d3a4b;
	content: "";
	width: 0px;
	height: 100%;
	top: 0px;
	margin: 0px;
	z-index: -1;
	left: 0px;
	display: none;
}
.ownmenu .dropdown-menu li a:hover:before {
	width: 100%;
}
.ownmenu .nav .dropdown-menu li a {
	padding: 0px 20px;
	font-size: 12px;
	letter-spacing: 0px;
	font-weight: normal !important;
	line-height: 30px;
	background: none;
	text-transform: none;
	letter-spacing: 2px;
	color: #2d3a4b !important;
}
.ownmenu .nav .dropdown-menu li:nth-last-child(1) a {
	border-bottom: none;
}
.ownmenu .nav .dropdown-menu li a:hover {
	color: #000 !important;
}
.ownmenu .nav .dropdown-menu {
	border: none;
	min-width: 250px;
	margin-top: 40px;
}
.ownmenu .nav .dropdown-menu {
	border: 1px solid #bfc1c3;
	border-top: none;
	padding: 25px 20px;
	border-radius: 0px 0px 8px 8px;
}
.ownmenu .nav .dropdown-menu {
}
.ownmenu .dropdown.megamenu {
	position: static !important;
}
.ownmenu .dropdown.megamenu .dropdown-menu {
	width: 100%;
	min-width: inherit;
	padding: 30px;
	margin-top: 0px;
}
.ownmenu .nav .dropdown-menu li a {
	position: relative;
}
.ownmenu .nav .dropdown-menu li a:after {
	content: "\f105";
	position: absolute;
	left: 5px;
	top: 0px;
	color: #000;
	font-family: 'FontAwesome';
}
.ownmenu .dropdown.megamenu .dropdown-menu li {
	display: inline-block;
	width: 100%;
}
.ownmenu .dropdown.megamenu .dropdown-menu h6 {
	margin-bottom: 20px;
	letter-spacing: 1px;
	color: #2d3a4b;
	font-size: 14px;
	font-weight: normal;
}
.ownmenu .dropdown.megamenu .dropdown-menu .btn {
	padding: 0px 30px;
	letter-spacing: 0px;
	margin-top: 10px;
}
.ownmenu .dropdown.megamenu .dropdown-menu .btn:before {
	display: none;
}
.ownmenu .dropdown.megamenu .dropdown-menu h5 {
	margin-bottom: 20px;
	letter-spacing: 1px;
	color: #2d3a4b;
}
.ownmenu .dropdown.megamenu .dropdown-menu h5 span {
	font-size: 14px;
	text-transform: none;
	width: 100%;
	font-weight: normal;
	display: inline-block;
}
.ownmenu .dropdown.megamenu .dropdown-menu li a {
	display: inline-block;
	width: 100%;
	font-size: 12px;
	padding: 0px 0px;
	letter-spacing: 2px;
	color: #2d3a4b !important;
}
.ownmenu .dropdown.megamenu .cart-img {
	width: 80px;
	margin-right: 10px;
	padding: 5px;
	display: inline-block;
	background: #fff;
	border: 1px solid rgba(0,0,0,0.1);
}
.ownmenu .dropdown.megamenu .cart-img a {
	padding: 1px !important;
	border: none !important;
}
.ownmenu .dropdown.megamenu .stars {
	margin-bottom: 0px;
	color: #ffe119;
	font-size: 11px;
}
.ownmenu .dropdown.megamenu .stars i {
	margin: 0 1px;
}
.ownmenu .dropdown.megamenu .media-heading {
	margin-top: 10px;
	font-weight: normal;
	margin-bottom: 5px !important;
}
.ownmenu .dropdown.megamenu .top-rated li .price {
	font-size: 12px;
}
.ownmenu .dropdown.megamenu .top-rated li {
	border-bottom: 1px solid rgba(0,0,0,0.1);
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.ownmenu .dropdown.megamenu .top-rated li:nth-last-child(1) {
	border: none;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.ownmenu .dropdown.megamenu .dropdown-menu {
	overflow: hidden;
	border-top: 1px solid #2d3a4b;
}
.ownmenu .dropdown.megamenu .dropdown-menu .row {
	max-width: 1170px;
	margin: 0 auto;
}
header .is-sticky .sticky .nav .dropdown.megamenu .dropdown-menu {
	margin-top: 0px;
}
.ownmenu .dropdown.megamenu .dropdown-menu .row {
	position: relative;
}
.ownmenu .dropdown.megamenu .dropdown-menu .nav-img {
	margin-right: -30px;
	float: right;
	margin-top: -30px;
	margin-bottom: -30px;
	position: absolute;
	top: 0px;
	z-index: -1;
}
.ownmenu .dropdown.megamenu .dropdown-menu li a:before {
	height: 1px;
	top: auto;
	bottom: 0px;
}
.ownmenu .dropdown .sub-menu .dropdown-menu {
	position: absolute;
	left: 100%;
	top: 0px;
	display: none !important;
	margin: 0px !important;
}
.ownmenu .dropdown .sub-menu:hover .dropdown-menu {
	display: block !important;
}
.ownmenu .dropdown .sub-menu .dropdown-menu li a {
	border-bottom: 1px solid rgba(0,0,0,0.1) !important;
}
.ownmenu .dropdown .sub-menu .dropdown-menu li:nth-last-child(1) a {
	border-bottom: 1px solid rgba(0,0,0,0.1) !important;
}
.ownmenu .dropdown .sub-menu:before {
	content: "\f105";
	position: absolute;
	right: 10px;
	font-family: 'FontAwesome';
	line-height: 33px;
	z-index: 2;
}
.ownmenu .dropdown .sub-menu:hover:before {
	color: #fff;
}
.ownmenu {
	float: left;
}
.nav-right i {
	font-size: 20px;
}
.nav-right .navbar-right li {
	margin: 0px;
}
.nav-right {
	float: right;
	margin-top: 15px;
	position: relative;
}
header .social_icons {
	float: right;
	color: #fff;
	margin-top: 20px;
}
header .social_icons a {
	color: #fff;
	margin-left: 10px;
}
header.light-head  .navbar .nav-right  li a{
	padding-left:0px !important;
	padding-right:0px !important;
	background:none !important;
}
header .social_icons a:hover {
	color: #ab4e52;
}
header .is-sticky .sticky .nav .dropdown-menu {
	margin-top: 10px;
}
.header-1 {
	position: absolute;
	background: none;
}
.header-1 .sticky {
	background: none;
}
.header-1 .is-sticky .sticky {
	background: rgba(255,255,255,0.9);
}
header.light-head .navbar li a {
	color: #fff;
}
header.light-head .navbar li a:hover{
	background: rgba(0,0,0,0.9);
	border-radius:6px 6px 0 0;
}
header.light-head .navbar .dropdown-menu li a {
	color: #333;
}
header.light-head .navbar .dropdown-menu li a.btn {
	color: #fff;
}
.header-1 .is-sticky .sticky {
	background: rgba(0,0,0,0.9);
}
header.light-head .ownmenu .nav .dropdown-menu {
	background: rgba(0,0,0,0.9) !important;
	border: none;
}
header.light-head .ownmenu .nav ul.dropdown-menu li a {
	color: #fff !important;
	border-bottom: 1px solid rgba(255,255,255,0.1);
} 
header.light-head .ownmenu .nav .dropdown-menu li a:after{
	color:#fff;
}
header.light-head .ownmenu .nav ul.dropdown-menu li a:hover {
	color: #fff !important;
}
header.light-head .ownmenu .nav ul.dropdown-menu li a:before {
	display: none;
}
header.light-head p {
	color: #b4b4b4;
}
header.light-head .ownmenu .dropdown.megamenu .dropdown-menu h6 {
	color: #fff;
}
header.light-head .ownmenu .dropdown.megamenu .dropdown-menu h5 {
	color: #fff;
}
header.light-head .ownmenu .dropdown.megamenu .dropdown-menu h5 span {
	color: #999999;
}
header.light-head .ownmenu .dropdown.megamenu .cart-img {
	background: #000;
	border: 1px solid rgba(255,255,255,0.2);
}
header.light-head .ownmenu .dropdown.megamenu .top-rated li .price {
	color: #999999;
}
header.light-head .ownmenu .dropdown.megamenu .dropdown-menu li a {
	color: #999999 !important;
	border-bottom: 1px solid rgba(255,255,255,0.1);
}
header.light-head .ownmenu .dropdown.megamenu .dropdown-menu li a:hover {
	color: #fff !important;
}
header.light-head .ownmenu .dropdown.megamenu .dropdown-menu li a:before {
	background: #fff;
}
.header-1{
	padding-bottom:0px !important;
}
.header-1 .sticky{
	padding-bottom:0px !important;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	background: none;
}
.header-1 .logo {
	margin-top: 13px;
}
.header-1 .ownmenu .nav .dropdown-menu {
	margin-top: 0px;
}
header.light-head .navbar li a:before {
	background: #fff;
	bottom: 0px;
	top: auto;
	height: 2px;
}
header.light-head .navbar li.active a:before {
	background: #fff;
}
header.light-head .ownmenu ul.dropdown {
	background: rgba(0,0,0,0.9);
}
header.light-head .ownmenu ul.dropdown li a {
	color: #d6d6d6 !important;
	border-bottom: 1px solid rgba(255,255,255,0.1);
}
header .navbar-collapse {
	float: left;
	padding: 0px;
	margin-right: 20px;
}
header .user-acc li {
	display: inline-block;
	width: 100%;
	margin: 0px !important;
}
header .user-acc li h6 {
	padding: 0 20px;
	font-weight: normal;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	margin: 10px 0;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-bottom: 0px;
	text-transform: none;
}
header .user-acc .dropdown-menu {
	margin-top: 51px;
	padding: 0px;
	border: none;
	border-radius: 0px;
	min-width: 260px;
}
.header-1 .user-acc .dropdown-menu {
	margin-top: 11px;
}
.header-1 .user-basket .dropdown-menu {
	margin-top: 11px;
}
header .is-sticky .sticky .user-acc .dropdown-menu {
	margin-top: 21px;
}
header .user-acc li a {
	display: inline-block;
	width: 100%;
	letter-spacing: 0px;
	padding: 10px 20px;
	font-size: 12px;
}
header .user-acc .dropdown-menu>li>a:hover {
	background: #ffe115;
}
header .user-acc .dropdown-menu>li>a:focus {
	background: #ffe115;
}
header .navbar-right li a:before {
	display: none;
}
header .user-basket .dropdown-menu {
	margin-top: 51px;
	padding: 20px;
	border: none;
	border-radius: 0px;
	min-width: 350px;
}
header .user-basket .dropdown-menu li {
	padding: 0px;
	margin: 0px;
	margin-bottom: 20px;
	display: inline-block;
	position: relative;
	width: 100%;
}
header .user-basket h5 {
	font-weight: normal;
	font-size: 16px;
	border-top: 1px solid rgba(0,0,0,0.1);
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding: 10px 0;
}
header .user-basket .btn {
	padding: 0px 0px;
	width: 100%;
	letter-spacing: 0px;
	color: #fff;
	border: none;
}
header .user-basket .btn:hover {
	background: #ffe115;
	color: #2d3a4b;
}
header .user-basket .media-heading {
	margin-top: 0px;
	font-weight: normal;
}
header .user-basket span {
	display: inline-block;
	width: 100%;
	margin: 5px 0;
	font-size: 12px;
}
header .user-basket .cart-img a {
	display: inline-block;
	width: 100%;
	padding: 0px;
}
header .user-basket .cart-img {
	width: 90px;
	margin-right: 10px;
	box-shadow: 0 0 2px rgba(0,0,0,0.2);
	padding: 5px;
	display: inline-block;
}
header .is-sticky .sticky .user-basket .dropdown-menu {
	margin-top: 21px;
}
.search-inside {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(255, 255, 255, .8);
	z-index: 500;
	display: none;
}
.search-inside .search-overlay {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.search-inside .search-close {
	position: absolute;
	right: 50px;
	top: 50px;
	font-size: 30px;
	cursor: pointer;
	z-index: 500;
}
.search-inside .search {
	display: inline-block;
	width: 100%;
	position: relative;
}
.search-inside .position-center-center {
	width: 100%;
	padding: 0 20px;
}
.search-inside .search input {
	background: #fff;
	font-size: 20px;
	color: #333;
	text-align: left;
	height: 60px;
	width: 100%;
	border: none;
	padding: 0 20px;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	border-bottom: 1px solid rgba(0,0,0,0.5);
}
.search-inside .search input:focus {
	outline: none;
	border-bottom: 1px solid rgba(0,0,0,0.5);
}
.search-inside .search button {
	position: absolute;
	right: 0;
	top: 0px;
	line-height: 60px;
	margin-top: 0px;
	font-size: 30px;
	background: none;
}
.search-inside .search button:hover {
	color: #333;
}
.header-2 {
	background: none;
	position: absolute;
	padding: 15px 0;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
.header-2 .sticky {
	padding: 0px 100px;
}
.header-2 .is-sticky .sticky {
	background: rgba(255,255,255,0.9);
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
	padding: 10px 100px;
}
.header-2 .navbar {
	width: auto;
}
.header-2 .sticky {
	background: none;
}
.header-2 .logo-center {
	position: absolute;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	width: 300px;
	text-align: center;
	margin-top: 5px;
}
.header-2 .user-acc .dropdown-menu {
	margin-top: 15px;
}
.header-2 .user-basket .dropdown-menu {
	margin-top: 15px;
}
.navigation-is-open .header-2 {
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
	background: rgba(255,255,255,1);
}
.cd-nav .social_icons {
	margin-top: 30px;
}
.cd-nav .social_icons li {
	display: inline-block;
}
.cd-nav .social_icons li a {
	font-size: 16px;
	border-radius: 50%;
	border: 1px solid #2d3a4b;
	height: 40px;
	width: 40px;
	margin-right: 5px;
	display: inline-block;
	text-align: center;
	line-height: 40px;
}
.cd-nav .social_icons li a:hover {
	background: #ffe115;
	color: #2d3a4b;
	border: 1px solid #ffe115;
}
.cd-nav .well {
	background: none;
	padding: 0px;
	border: none;
	box-shadow: none;
	margin: 0px;
}
.cd-nav .well {
	padding-bottom: 20px;
}
.cd-nav .well ul li a {
	font-size: 18px;
	padding-left: 20px;
	line-height: 28px;
	text-transform: none;
}
.cd-nav .drop-menu a.title:before {
	content: "\e873";
	font-family: 'Linearicons-Free';
	padding: 0px;
	color: #af5875;
	border-radius: 50%;
	text-align: center;
	font-size: 12px;
	position: absolute;
	right: -20px;
	bottom: 0px;
	background: none;
	width: auto !important;
}
.cd-nav .drop-menu a.collapsed:before {
	content: "\e874";
	color: #af5875;
}
/*=======================================================
      SLIDER
========================================================*/
.home-slider .tp-caption small {
	font-size: 20px !important;
	display: inline-block;
	vertical-align: top;
	font-weight: normal !important;
	line-height: 30px;
	margin-top: 15px;
	margin-right: 5px;
}
.simple-head {
	background: url(../images/slide-bg-3.jpg) no-repeat;
	background-size: cover;
	padding-top: 20%;
	padding-bottom: 100px;
}
.simple-head {
	max-height: 1000px;
}
.simple-head .position-center-center {
	width: 100%;
	padding: 0 15px;
	position: relative;
}
.simple-head h4 {
	font-family: 'Playfair Display', serif;
	font-size: 28px;
	color: #2d3a4b;
	margin: 30px 0;
	text-transform: none;
	letter-spacing: 0px;
}
.simple-head .extra-huge-text {
	font-size: 142px;
	line-height: 120px;
	font-weight: bold;
	color: #2d3a4b;
	position: relative;
}
.simple-head .extra-huge-text:before {
	content: "";
	height: 1px;
	width: 612px;
	background: #2d3a4b;
	position: absolute;
	top: 90px;
	left: 90px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
 filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.simple-head .price {
	font-size: 98px;
	font-weight: bold;
	z-index: 9;
	line-height: 60px;
	color: #e9654c;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
.simple-head .price small {
	font-size: 30px;
	line-height: 20px;
	display: inline-block;
	vertical-align: top;
}
/*=======================================================
      NEW ARRIVAL
========================================================*/
.arrival-block {
	border-top: 1px solid #d1d5db;
	border-left: 1px solid #d1d5db;
	display: inline-block;
	width: 100%;
}
.arrival-block .item {
	position: relative;
	width: 25%;
	float: left;
	overflow: hidden;
	border-right: 1px solid #d1d5db;
	border-bottom: 1px solid #d1d5db;
}
.arrival-block .overlay {
	background: rgba(255,255,21,0.75);
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
	opacity: 0;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
.arrival-block .item:hover .overlay {
	opacity: 1;
}
.arrival-block .overlay a {
	height: 71px;
	width: 71px;
	display: inline-block;
	border-radius: 50%;
	background: #52594a;
	text-align: center;
	line-height: 71px;
	color: #fff;
}
.arrival-block .price {
	position: absolute;
	right: 20px;
	top: -50px;
	font-size: 18px;
	font-weight: bold;
	z-index: 9;
	color: #2d3a4b;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
.arrival-block .price small {
	font-size: 12px;
	display: inline-block;
	vertical-align: top;
}
.arrival-block .item:hover .price {
	top: 20px;
}
.arrival-block .overlay a:hover {
	background: #fff;
	color: #52594a;
}
.arrival-block .item img {
	width: 100%;
	margin-top: 0px;
	top: 0px;
	left: 0px;
	position: relative;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
.arrival-block .item:hover .img-1 {
	left: -100%;
	position: relative;
}
.arrival-block .item .img-2 {
	position: absolute;
	left: 100%;
}
.arrival-block .item:hover .img-2 {
	left: 0px;
}
.arrival-block .item-name {
	position: absolute;
	bottom: 0px;
	padding-top: 100px;
	padding-bottom: 30px;
	width: 100%;
	text-align: center;
	z-index: 9;
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0 ); /* IE6-9 */
}
.arrival-block .item-name p {
	font-family: 'Playfair Display', serif;
	font-size: 14px;
	margin: 0px;
}
.arrival-block .item-name a {
	font-size: 22px;
	font-weight: bold;
	letter-spacing: 3px;
	color: #2d3a4b;
	text-transform: uppercase;
}
.arrival-block .item-name a:hover {
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
	text-decoration: overline !important;
}
/*=======================================================
      Top Shop Feature
========================================================*/
.top-shop-feature article {
	max-width: 320px;
	display: inline-block;
	margin: 0 120px;
	min-height: 350px;
}
.top-shop-feature .btn {
	margin-top: 20px;
}
.top-shop-feature .col-md-6 {
	position: relative;
	background: #fff;
	padding: 0px;
}
.top-shop-feature h4 {
	font-size: 20px;
	color: #2d3a4b;
	margin: 15px 0;
}
.top-shop-feature .price {
	font-size: 18px;
	font-weight: bold;
	z-index: 9;
	color: #eb437c;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
.top-shop-feature .price small {
	font-size: 12px;
	display: inline-block;
	vertical-align: top;
}
.top-shop-feature .col-md-6.light {
	background: #f0f5f9;
}
.top-shop-feature .col-md-6.light:before {
	position: absolute;
	right: 0px;
	content: "";
	background: #f0f5f9;
	top: 0px;
	height: 100%;
	left: 100%;
	width: 100%;
}
.top-shop-feature .left.light:before {
	position: absolute;
	right: 100%;
	content: "";
	background: #f0f5f9;
	top: 0px;
	height: 100%;
	left: -100%;
	width: 100%;
}
.top-shop-feature p {
	font-family: 'Playfair Display', serif;
}
/*=======================================================
      NEW ARRIVAL LIST
========================================================*/
.new-arrival-list {
}
.new-arrival-list li {
	position: relative;
	text-align: center;
}
.new-arrival-list li h4 a {
	color: #2d3a4b;
}
.new-arrival-list li .btn {
	background: #2d3a4b;
	color: #fff;
	margin-top: 10px;
}
.new-arrival-list li .btn:hover {
	background: #ffe115;
	border-color: #ffe115;
	color: #2d3a4b;
}
.new-arrival-list li article {
	margin-bottom: 30px;
	position: relative;
	overflow: hidden;
	background: #fff;
}
.new-arrival-list li article:hover img {
	-webkit-transform: scale3d(1.1, 1.1, 1);
	transform: scale3d(1.1, 1.1, 1);
	opacity: 0.5;
}
/*=======================================================
      SPECIAL OFFERS
========================================================*/
.special-offers {
	background: #f7f7f7 url(../images/special-bg.jpg) top center no-repeat;
	background-size: cover;
	padding: 19% 0;
}
.special-offers {
	text-align: center;
}
.special-offers h4 {
	color: #e9654c;
	font-size: 26px;
	letter-spacing: 10px;
}
.special-offers .extra-huge-text {
	font-size: 120px;
	line-height: 100px;
	font-weight: bold;
	color: #2d3a4b;
	text-transform: uppercase;
	position: relative;
}
.special-offers .extra-huge-text:before {
	content: "";
	height: 1px;
	width: 612px;
	background: #2d3a4b;
	position: absolute;
	top: 90px;
	left: 90px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
 filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
/*=======================================================
      PAPULAR ITEM
========================================================*/
.papular-block .item-img {
	position: relative;
	overflow: hidden;
}
.papular-block .owl-prev {
	position: absolute;
	top: 50%;
	left: -50px;
	height: 23px;
	width: 23px;
	border: 1px solid #000;
	text-align: center;
	line-height: 21px;
}
.papular-block .owl-next {
	position: absolute;
	top: 50%;
	right: -50px;
	height: 23px;
	width: 23px;
	border: 1px solid #000;
	text-align: center;
	line-height: 21px;
}
.papular-block .overlay {
	background: rgba(255,255,21,0.75);
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
	opacity: 0;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
.papular-block .item:hover .overlay {
	opacity: 1;
}
.papular-block .item-img {
	margin-bottom: 30px;
}
.papular-block .overlay .inn {
	display: inline-block;
	border-radius: 30px;
	background: #52594a;
	text-align: center;
	color: #fff;
	height: 45px;
	margin: 10px 0;
	padding: 0 20px;
}
.papular-block .tooltip .tooltip-inner {
	font-style: italic;
	font-size: 12px;
}
.tooltip-inner {
	padding: 4px 14px;
	font-family: 'Playfair Display', serif;
}
.tooltip.top .tooltip-arrow {
	bottom: 1px;
}
.papular-block .position-center-center {
	width: 100%;
	text-align: center;
}
.papular-block .overlay .inn a {
	display: inline-block;
	font-size: 16px;
	color: #fff;
	margin: 0 8px;
	line-height: 45px;
}
.papular-block .price {
	font-size: 18px;
	font-weight: bold;
	z-index: 9;
	display: inline-block;
	width: 100%;
	text-align: center;
	margin-top: 20px;
	color: #2d3a4b;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
.papular-block .price small {
	font-size: 12px;
	display: inline-block;
	vertical-align: top;
}
.papular-block .overlay a:hover {
}
.papular-block .item img {
	width: 100%;
	margin-top: 0px;
	top: 0px;
	left: 0px;
	position: relative;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
.papular-block .item:hover .img-1 {
	left: -100%;
}
.papular-block .item .img-2 {
	position: absolute;
	left: 100%;
}
.papular-block .item:hover .img-2 {
	left: 0px;
}
.papular-block .item-name {
	width: 100%;
	text-align: center;
	z-index: 9;
}
.papular-block .item-name p {
	font-family: 'Playfair Display', serif;
	font-size: 14px;
	margin: 0px;
	margin-top: 10px;
}
.papular-block .item-name a {
	font-size: 22px;
	font-weight: bold;
	letter-spacing: 3px;
	color: #2d3a4b;
	text-transform: uppercase;
}
.papular-block .item-name a:hover {
	color: #ffe115;
}
.on-sale {
	background: #ffe115;
	position: absolute;
	height: 50px;
	width: 50px;
	top: 0px;
	right: 0px;
	z-index: 99;
	text-align: center;
	color: #fff;
	font-weight: bold;
	line-height: 16px;
	font-size: 18px;
	padding-top: 10px;
}
.on-sale span {
	font-size: 12px;
	font-weight: normal;
}
.shop-page .item {
	margin-bottom: 50px;
	position: relative;
}
.shop-item .item {
	width: 20%;
}
.item-display {
	margin-bottom: 50px;
}
.item-display {
	color: #CCC;
}
.item-display span.product-num {
	display: inline-block;
	width: 100%;
	line-height: 40px;
}
.item-display .grid-style {
	display: inline-block;
	font-size: 20px;
	margin-top: 10px;
	margin-left: 20px;
}
.item-display .list-style {
	display: inline-block;
	font-size: 26px;
	margin-top: 5px;
	float: right;
	margin-left: 20px;
}
.shop-items .item {
	background: #f7f7f7;
	position: relative;
	padding: 80px 0;
	padding-bottom: 50px;
}
.shop-items .item .item-name {
	padding: 0 50px;
	margin-bottom: 20px;
	text-align: right;
}
.shop-items .item .item-img {
	position: relative;
	overflow: hidden;
}
.shop-items .inn {
	display: inline-block;
	border-radius: 30px;
	background: #2d3a4b;
	text-align: center;
	color: #fff;
	height: 45px;
	max-width: 150px;
	position: absolute;
	bottom: -100px;
	left: 0px;
	right: 0px;
	margin: 10px auto;
	padding: 0 20px;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
.shop-items .item:hover .inn {
	bottom: 0px;
}
.shop-items .inn a {
	display: inline-block;
	font-size: 16px;
	color: #fff;
	margin: 0 8px;
	line-height: 50px;
}
.shop-items .item-name a {
	font-size: 22px;
	font-weight: bold;
	letter-spacing: 3px;
	color: #2d3a4b;
	margin-bottom: 10px;
	text-transform: uppercase;
}
.shop-items .item-name p {
	font-family: 'Playfair Display', serif;
}
.shop-items .price {
	font-size: 18px;
	font-weight: bold;
	z-index: 9;
	display: inline-block;
	width: 100%;
	text-align: center;
	margin-top: 50px;
	color: #2d3a4b;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
.shop-items .price small {
	font-size: 12px;
	display: inline-block;
	vertical-align: top;
}
/*=======================================================
      SHOP DETAIL PAGES
========================================================*/
.shop-detail {
}
.shop-detail .price {
	font-size: 18px;
	font-weight: bold;
	z-index: 9;
	display: inline-block;
	width: 100%;
	text-align: left;
	margin-top: 10px;
	color: #2d3a4b;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
.shop-detail p {
	font-family: 'Playfair Display', serif;
}
.shop-detail h4 {
	color: #2d3a4b;
	letter-spacing: 2px;
}
.shop-detail .price small {
	font-size: 12px;
	display: inline-block;
	vertical-align: top;
}
.shop-detail .item-owner {
	margin: 30px 0;
	border-top: 1px solid rgba(0,0,0,0.1);
}
.shop-detail .item-owner li {
	font-size: 12px;
	color: #2d3a4b;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	line-height: 36px;
}
.shop-detail .item-owner li span {
	color: #ffe115;
}
.shop-detail .quinty .btn {
	border: 1px solid #2d3a4b;
}
.shop-detail .quinty .bootstrap-select .btn {
	padding: 0px 10px;
	font-size: 12px;
}
.shop-detail .bootstrap-select {
	width: 100%;
}
.shop-detail .bootstrap-select.btn-group .dropdown-menu li {
	margin: 0px !important;
}
.shop-detail .colors-shop li {
	line-height: 30px;
	margin-bottom: 0px !important;
}
.shop-detail .some-info li {
	margin-bottom: 20px;
}
.shop-detail .some-info .btn {
	width: 100%;
	padding: 0px;
}
.shop-detail .some-info .btn:hover {
	background: #ffe115;
}
.shop-detail .some-info .like-us {
	font-size: 16px;
	margin-top: 10px;
	color: #ffe115;
	line-height: 30px;
}
.shop-detail h6 {
	font-weight: normal;
	font-size: 14px;
	color: #2d3a4b;
	margin: 0px;
	padding: 15px 0;
	border-bottom: 1px solid #d1d5db;
}
.inner-info p {
	font-size: 12px;
	margin: 15px 0;
	margin-bottom: 0px;
}
.inner-info .social_icons li {
	display: inline-block;
	margin-top: 15px;
}
.inner-info .social_icons li a {
	font-size: 16px;
	margin: 0 5px;
	color: #2d3a4b;
}
.images-slider {
	position: relative;
	background: #f7f7f7;
	z-index: 1;
}
.images-slider:before {
	height: 120px;
	position: absolute;
	bottom: 0px;
	width: 100%;
	background: #fff;
	content: "";
	z-index: -1;
}
.images-slider .slides {
	display: inline-block;
	width: 100%;
}
/*=======================================================
      PRODUCT DESCRIPTION
========================================================*/
.item-decribe {
	margin-top: 100px;
}
.item-decribe .tab-content {
	margin-top: 30px;
}
.item-decribe .tab-content p {
	font-size: 13px;
	font-family: 'Playfair Display', serif;
}
.item-decribe .nav-tabs {
	border: none;
	margin: 0px;
	display: inline-block;
	border-right: none;
	width: 100%;
	border-bottom: 1px solid #d1d5db;
}
.item-decribe .nav-tabs a {
	border: none;
	margin: 0px;
	padding: 10px 0px;
	font-size: 14px;
	letter-spacing: 2px;
	border-bottom: 2px solid;
	border-color: transparent;
}
.item-decribe .nav-tabs>li>a:hover {
	background: none;
	border-bottom: 2px solid #ffe115;
}
.item-decribe .nav-tabs li {
	float: left;
	margin-right: 40px !important;
	display: inline-block;
}
.item-decribe .nav-tabs>li.active>a {
	border: none;
	border-bottom: 2px solid #ffe115;
}
.item-decribe .nav-tabs>li {
	margin: 0px;
}
.item-decribe .avatar {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
}
.item-decribe .avatar img {
	border-radius: 50%;
}
.item-decribe .media-body p {
	width: 100%;
}
.item-decribe ul {
	margin-top: 10px;
}
.item-decribe h6 {
	font-weight: normal;
	margin-top: 30px;
}
.item-decribe ul p {
	margin-bottom: 0px;
}
.item-decribe .media-body h6 {
	font-size: 12px;
	margin-top: 0px;
	padding: 0px;
	margin-bottom: 10px;
	border: none;
	font-weight: normal;
}
.item-decribe .media {
	border-bottom: 1px solid #ebebeb;
	padding-bottom: 20px;
	padding-bottom: 10px;
	margin: 0px;
	margin-bottom: 20px;
	display: inline-block;
	width: 100%;
}
.item-decribe form {
	margin-top: 50px;
}
.item-decribe form label {
	display: inline-block;
	width: 100%;
	font-size: 11px;
	font-weight: normal;
	margin-bottom: 20px;
}
.item-decribe form input {
	width: 100%;
	margin-top: 10px;
	padding: 0 10px;
	display: inline-block;
	height: 40px;
	border: 1px solid #ebebeb;
}
.item-decribe form textarea {
	width: 100%;
	margin-top: 10px;
	padding: 10px;
	display: inline-block;
	height: 140px;
	border: 1px solid #ebebeb;
}
.item-detail-page .item-decribe .stars span {
	color: #272727;
}
.item-detail-page .item-decribe .stars {
	margin: 0px;
	color: #b8b8b8;
}
.item-detail-page .large-detail img {
	margin-bottom: 30px;
}
/*=======================================================
      PAGINATION
========================================================*/
.pagination {
	float: right;
	border: none;
	border-radius: 0px;
}
.pagination li a {
	border-radius: 0px !important;
	border: none;
	background: #2d3a4b;
	color: #fff;
	margin: 0 2px;
	height: 23px;
	width: 23px;
	padding: 0px;
	text-align: center;
	line-height: 23px;
	font-size: 12px;
}
.pagination li a:hover {
	background: #ffe115;
	color: #2d3a4b;
}
.pagination li.active a {
	background: #ffe115;
	color: #2d3a4b;
}
.pagination.in-center {
	text-align: center;
	width: 100%;
}
.pagination.in-center li {
	display: inline-block;
}
/*=======================================================
      HISTORY
========================================================*/
.history-block h4 {
	font-size: 25px;
	text-align: center;
	margin-bottom: 30px;
	color: #2d3a4b;
	letter-spacing: 2px;
}
.history-block p {
	font-family: 'Playfair Display', serif;
}
.vision-text h5 {
	font-size: 20px;
	text-align: left;
	color: #2d3a4b;
	letter-spacing: 2px;
}
.vision-text h2 {
	font-family: 'Playfair Display', serif;
	font-size: 36px;
	font-weight: normal;
	text-transform: none;
	margin-top: 30px;
	color: #666666;
	line-height: 45px;
}
.cultur-block ul {
	position: relative;
}
.cultur-block li {
	float: left;
	width: 25%;
}
.cultur-block li img {
	width: 100%;
}
.cultur-block .position-center-center {
	width: 100%;
	text-align: center;
}
.cultur-block p {
	font-family: 'Playfair Display', serif;
	color: #fff;
}
.cultur-block h4 {
	color: #fff;
	letter-spacing: 2px;
}
.video-block a {
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: 3px;
	font-weight: bold;
}
.video-block a i {
	color: #ffe115;
	float: left;
	margin-top: 5px;
	margin-right: 20px;
}
/*=======================================================
      OUR TEAM
========================================================*/
.our-team {
}
.our-team article {
	position: relative;
}
.our-team .avatar {
	height: 268px;
	width: 268px;
	position: relative;
	overflow: hidden;
	display: inline-block;
	border-radius: 50%;
}
.our-team .team-hover {
	background: rgba(0,0,0,0.8);
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
	border-radius: 50%;
	left: 0%;
	opacity: 0;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.our-team article .position-center-center {
	width: 100%;
}
.our-team article:hover .team-hover {
	left: 0px;
	opacity: 1;
}
.our-team article:hover img {
}
.our-team .team-hover img {
	border-radius: 50%;
}
.our-team .social-icons a {
	color: #fff;
	font-size: 20px;
	margin: 0 10px;
}
.our-team .team-names {
	position: relative;
	margin-top: 30px;
	margin-bottom: 50px;
}
.our-team .team-names h6 {
	font-weight: bold;
	font-size: 18px;
	margin-top: 0px;
	color: #2d3a4b;
	text-transform: uppercase;
	margin-bottom: 5px;
}
.our-team .team-names p {
	color: #666666;
	font-size: 12px;
}
.our-team-small .avatar {
	height: 200px;
	width: 200px;
}
.our-team-small .avatar img {
	width: 100%;
}
.our-team-small .team-names h6 {
	font-size: 14px;
	font-weight: normal;
}
.client-img-2 {
	border-bottom: 1px solid #d1d5db;
}
.client-img-2 li {
	text-align: center;
}
/*=======================================================
      FEW FACTS
========================================================*/
.fun-facts {
	border-bottom: 1px solid #d1d5db;
}
.fun-facts i {
	font-size: 48px;
	color: #ffe115;
	display: inline-block;
	width: 100%;
}
.fun-facts li span {
	font-size: 80px;
	font-weight: bold;
	color: #2d3a4b;
}
.fun-facts li h5 {
	color: #2d3a4b;
	margin: 0px;
}
.fun-facts li {
	text-align: center;
}
/*=======================================================
      BLOG LIST
========================================================*/
.blog-list {
}
.blog-list article {
	text-align: center;
	border-bottom: 1px solid #d1d5db;
	padding-bottom: 100px;
	margin-bottom: 100px;
}
.blog-list article .btn {
	margin-top: 30px;
	font-size: 14px;
	font-weight: normal;
	padding: 2px 30px;
}
.blog-list article .btn:hover {
	background: #ffe115;
}
.blog-list article p {
	font-family: 'Playfair Display', serif;
}
.blog-list .post-tittle .tags {
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
	position: relative;
	overflow: hidden;
	display: inline-block;
	z-index: 9;
	letter-spacing: 2px;
	padding: 0px;
}
.blog-list .post-tittle {
}
.blog-list img {
	margin-bottom: 30px;
}
.blog-list .post-tittle span {
	color: #2d3a4b;
	display: inline-block;
	margin-bottom: 30px;
}
.blog-list .post-tittle a.tittle {
	font-size: 24px;
	color: #2d3a4b;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: bold;
	display: inline-block;
	width: 100%;
	margin: 20px 0;
	margin-top: 15px;
}
.blog-list .post-tittle a.tittle:hover {
	color: #ffe115;
}
.blog-list .post-date {
	width: 200px;
	display: inline-block;
	text-align: left;
}
.blog-list .post-date span {
	font-size: 12px;
	display: inline-block;
	width: 100%;
	color: #2d3a4b;
}
.blog-list .post-date span.num {
	font-weight: bold;
	font-size: 80px;
	line-height: 60px;
	margin-bottom: 10px;
}
.blog-list .post-date .coments {
	font-size: 18px;
	font-weight: bold;
}
.blog-list .post-tittle .tags:before {
	content: "";
	position: absolute;
	bottom: 9px;
	height: 4px;
	background: #ffe115;
	width: 100%;
	z-index: -1;
}
.blog-list .post-tittle.left {
	text-align: left;
}
.blog-list .post-tittle.left a.tittle {
	text-transform: capitalize;
	letter-spacing: 0px;
	margin-top: 0px;
}
.blog-list .red-more {
	font-size: 16px;
	margin-top: 20px;
	display: inline-block;
	color: #2d3a4b;
	text-transform: uppercase;
	position: relative;
	overflow: hidden;
	z-index: 1;
	letter-spacing: 2px;
}
.blog-list .red-more:before {
	content: "";
	position: absolute;
	bottom: 8px;
	height: 4px;
	background: #ffe115;
	width: 100%;
	z-index: -1;
}
.blog-list .post-tittle.left span {
	margin-right: 20px;
	font-size: 12px;
}
.blog-list .post-tittle.left span i {
	margin-right: 10px;
}
.blog-list-3.blog-list article {
	padding-bottom: 20px;
	margin-bottom: 50px;
}
.admin-info {
	background: #f7f7f7;
	padding: 30px;
	margin-top: 50px;
	position: relative;
}
.admin-info .admin-pic {
	display: inline-block;
	width: 127px;
	margin-right: 30px;
	overflow: hidden;
	border-radius: 50%;
	height: 127px;
	position: relative;
	overflow: hidden;
}
.admin-info h6 {
	margin-top: 10px;
	margin-bottom: 20px;
	font-weight: normal;
}
.admin-info .admin-social {
	position: absolute;
	right: 35px;
	top: 35px;
}
.admin-info .admin-social a {
	color: #2d3a4b;
	font-size: 14px;
	margin: 0 3px;
}
.admin-info h6 span {
	font-size: 12px;
	text-transform: none;
	font-family: 'Playfair Display', serif;
	margin-left: 30px;
}
/*=======================================================
			SINGLE POST
========================================================*/
.single-post article {
	border: none;
}
.single-post article h6 {
	color: #2d3a4b;
	font-size: 18px;
}
.list-group {
	padding-left: 30px;
}
.list-group li {
	list-style: circle;
}
.list-group p {
	margin-bottom: 0px;
}
.single-post blockquote {
	background: none;
	font-size: 25px;
	padding: 0px;
	margin: 0px;
	border: none;
	font-family: 'Playfair Display', serif;
	margin: 50px 0;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	border-top: 1px solid rgba(0,0,0,0.1);
	padding: 20px 0;
	color: #666666;
}
/*=======================================================
			PAPULAR POST
========================================================*/
.papu-post {
}
.papu-post .media-left {
	margin-right: 0px;
}
.papu-post .media-left img {
	width: 100%;
}
.papu-post .media-left a {
	width: 60px;
	margin-right: 0px;
	display: inline-block;
}
.papu-post span {
	color: #2d3a4b;
	letter-spacing: 0px;
	font-size: 12px;
	font-weight: bold;
	text-transform: none;
}
.papu-post li {
	padding: 20px 0;
	margin: 0px;
	padding-top: 0px;
}
.papu-post .media-heading {
	display: inline-block;
	width: 100%;
	color: #2d3a4b;
	margin-top: 0px;
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 0px;
	text-transform: none;
}
.search input {
	display: inline-block;
	width: 100%;
	height: 45px;
	background: #fff;
	box-shadow: none;
	border-radius: 0px;
	border: 1px solid #e6e6e6;
}
.search button {
	float: right;
	margin-top: 0px;
	line-height: 45px;
	margin-right: 0px;
	margin-top: -45px;
	position: relative;
	z-index: 1;
	border-radius: 50%;
	border: none;
	color: #313f46;
	width: 45px;
	height: 45px;
	font-size: 16px;
	background: none;
}
/*=======================================================
      TWEET
========================================================*/
.tweet {
	text-align: center;
	border-bottom: 1px solid #d1d5db;
}
.tweet p {
	font-family: 'Playfair Display', serif;
}
.tweet i {
	font-size: 30px;
	margin-bottom: 30px;
	display: inline-block;
}
.tweet span {
	font-size: 18px;
	color: #2d3a4b;
	margin-top: 10px;
	display: inline-block;
	letter-spacing: 2px;
}
.clients-img li {
	float: left;
	width: 25%;
	text-align: center;
}
.huge-text {
	font-size: 100px;
	color: #ffe115;
	text-transform: uppercase;
	position: absolute;
	font-weight: bold;
	letter-spacing: 0px;
	left: -180px;
	line-height: 90px;
}
.history-block .relative .position-center-center {
	width: 100%;
}
/*=======================================================
      SHOP SIDE BAR
========================================================*/
.shop-sidebar .search {
	margin-bottom: 50px;
	padding-left: 15px;
}
.shop-sidebar .search input {
	color: #2d3a4b;
	text-transform: uppercase;
	border: 1px solid #2d3a4b;
}
.shop-sidebar {
	position: relative;
}
.shop-sidebar ul {
	padding-left: 15px;
}
.shop-tittle {
	font-size: 18px;
	text-transform: uppercase;
	color: #2d3a4b;
	padding-left: 15px;
	position: relative;
}
.shop-tittle:before {
	content: "";
	height: 6px;
	width: 6px;
	background: #ffe115;
	position: absolute;
	left: 0px;
	top: 6px;
}
.shop-cate a {
	position: relative;
	color: #2d3a4b;
	line-height: 38px;
	border-bottom: 1px solid #d1d5db;
	display: inline-block;
	width: 100%;
	font-size: 14px;
	padding-left: 10px;
}
.shop-cate li:nth-last-child(1) a {
	border-bottom: none;
}
.shop-cate a span {
	float: right;
}
.shop-cate a:before {
	content: "";
	height: 3px;
	width: 1px;
	line-height: 38px;
	background: #2d3a4b;
	position: absolute;
	left: 0px;
	top: 17px;
}
.shop-cate a:hover {
	color: #ffe115;
}
.shop-tags li {
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 5px;
}
.shop-tags li a {
	position: relative;
	z-index: 1;
	color: #333;
}
.shop-tags li a:before {
	content: "";
	height: 5px;
	width: 0px;
	background: #ffe115;
	position: absolute;
	left: 0px;
	top: 9px;
	z-index: -1;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
.shop-tags li a:hover:before {
	width: 100%;
}
.shop-sidebar .colors li {
	display: inline-block;
}
.shop-sidebar .colors li a {
	height: 13px;
	width: 13px;
	display: inline-block;
	border-radius: 50%;
	margin-right: 5px;
}
.colors-shop li {
	display: inline-block;
}
.colors-shop li a {
	height: 13px;
	width: 13px;
	display: inline-block;
	border-radius: 50%;
	margin-right: 5px;
}
.side-bnr {
	position: relative;
	text-align: center;
}
.side-bnr .position-center-center {
	width: 100%;
	padding-left: 30px;
}
.shop-sidebar .price {
	font-size: 26px;
	font-weight: bold;
	z-index: 9;
	display: inline-block;
	width: 100%;
	text-align: left;
	margin-bottom: 10px;
	color: #2d3a4b;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
.shop-sidebar .price small {
	font-size: 12px;
	display: inline-block;
	vertical-align: top;
}
.side-bnr .bnr-text {
	font-size: 42px;
	color: #ffe115;
	max-width: 100px;
	text-align: left;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0px;
	line-height: 35px;
	position: relative;
}
.chart-page .payment_steps {
	margin: 30px 0;
	text-align: center;
}
.chart-page .payment_steps i {
	font-size: 24px;
	border: 1px solid #ebebeb;
	height: 73px;
	width: 73px;
	border-radius: 50%;
	line-height: 71px;
	position: relative;
	color: #b8b8b8;
	margin-bottom: 20px;
}
.chart-page .payment_steps h6:before {
	content: "";
	background: #ebebeb;
	height: 18px;
	width: 2px;
	position: absolute;
	top: 85px;
	left: 0px;
	right: 0px;
	margin: 0 auto;
}
.chart-page .payment_steps h6 {
	font-size: 12px;
	margin: 20px 0;
	font-weight: normal;
	color: #272727;
}
.chart-page .payment_steps .current i {
	color: #af5875;
}
.chart-page .payment_steps .current h6 {
	color: #af5875;
}
.chart-page .shopping-cart {
	position: relative;
	overflow: hidden;
}
.shopping-cart .item-img {
	width: 170px;
	display: inline-block;
}
.shopping-cart .media-body {
	position: relative;
}
.shopping-cart .price {
	font-size: 18px;
	font-weight: bold;
	z-index: 9;
	color: #2d3a4b;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
.shopping-cart .price small {
	font-size: 12px;
	display: inline-block;
	vertical-align: top;
}
.shopping-cart .position-center-center {
	width: 100%;
}
.shopping-cart .col-sm-6 .position-center-center {
	width: 100%;
	padding: 0 20px;
	text-align: left;
}
.shopping-cart h5 {
	letter-spacing: 2px;
	color: #2d3a4b;
	margin-bottom: 0px;
}
.shopping-cart .bootstrap-select {
	width: 100% !important;
}
.shopping-cart .quinty {
	position: relative;
	padding: 0 15px;
}
.shopping-cart .quinty .btn {
	border: 1px solid #2d3a4b !important;
	color: #2d3a4b !important;
}
.shopping-cart .quinty .bootstrap-select .btn {
	padding: 0px 10px;
	font-size: 12px;
}
.shopping-cart .bootstrap-select.btn-group .dropdown-menu li {
	min-height: inherit;
}
.shopping-cart img {
	width: 100%;
}
.shopping-cart li {
	position: relative;
}
.shopping-cart li input {
	display: inline-block;
	width: 100%;
}
.shopping-cart li {
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color: #af5875;
}
.shopping-cart li input {
	border: 1px solid #ebebeb;
	width: 60px;
	font-family: 'Montserrat', sans-serif;
	height: 44px;
	float: left;
	width: 100%;
	display: inline-block;
	text-align: center;
}
.shopping-cart li a {
	color: #272727;
	font-size: 16px;
}
.shopping-cart .cart-details {
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid #d1d5db;
}
.shopping-cart .cart-details li {
	min-height: 150px;
}
.shopping-cart .cart-details h6 {
	font-weight: normal;
	font-size: 12px;
}
.shopping-cart .cart-head {
	display: inline-block;
	width: 100%;
	padding: 0px 0;
	border-bottom: 1px solid #d1d5db;
	padding-bottom: 20px;
	margin-bottom: 30px;
}
.shopping-cart .cart-head h6 {
	margin: 0px;
	font-weight: normal;
	font-size: 12px;
}
.shopping-cart .btn-sec {
	display: inline-block;
	width: 100%;
}
.shopping-cart .btn-sec .btn {
	padding: 15px 30px;
	float: left;
	font-size: 12px;
	margin-right: 20px;
	font-family: 'Montserrat', sans-serif;
}
.shopping-cart .btn-sec .btn i {
	margin-right: 10px;
	font-size: 16px;
}
.shopping-cart .btn.right-btn {
	float: right;
	margin-right: 0px;
}
.shopping-cart .cart-ship-info {
	text-align: left;
	margin-top: 50px;
}
.shopping-cart .cart-ship-info h6 {
	margin-bottom: 60px;
	margin-top: 0px;
	color: #2d3a4b;
	font-size: 20px;
	letter-spacing: 3px;
}
.shopping-cart .cart-ship-info h6:before {
	width: 60px;
	height: 2px;
	background: #2d3a4b;
	border: none;
	content: '';
	display: inline-block;
	position: absolute;
	margin-top: 30px;
}
.shopping-cart .cart-ship-info input {
	border: 1px solid #2d3a4b;
	width: 60px;
	height: 44px;
	float: left;
	width: 100%;
	font-size: 11px;
	padding: 0 10px;
	letter-spacing: 1px;
	display: inline-block;
	font-weight: normal;
	text-align: left;
	margin-top: 10px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.shopping-cart .bootstrap-select .btn {
	margin-top: 10px;
	background: #fff !important;
	border: 1px solid #ebebeb;
	color: #b8b8b8;
	font-size: 10px;
	letter-spacing: 2px;
}
.shopping-cart .order-place input {
	margin: 0px;
	height: auto !important;
}
.shopping-cart .cart-ship-info label {
	font-size: 10px;
	margin-bottom: 20px;
	display: inline-block;
	width: 100%;
	font-size: 12px;
	font-weight: normal;
	color: #2d3a4b;
}
.shopping-cart .cart-ship-info .grand-total {
	border: 3px solid #ffe115;
	padding: 15px 30px;
}
.shopping-cart .cart-ship-info .order-detail p {
	font-weight: normal;
	color: #2d3a4b;
	border-bottom: 1px solid #ebebeb;
	padding: 10px 0;
	font-size: 12px;
	margin: 0px;
}
.shopping-cart .grand-total .all-total {
	border-bottom: none !important;
}
.shopping-cart .cart-ship-info .grand-total {
}
.shopping-cart .cart-ship-info .grand-total h4 {
	font-size: 20px;
	font-weight: bold;
	margin: 20px 0px;
}
.shopping-cart .cart-ship-info .grand-total h4 span {
	color: #af5875;
}
.shopping-cart .cart-ship-info .grand-total .btn {
	background: #af5875;
	border-color: #af5875;
	width: 100%;
	margin: 0px;
	margin-bottom: 10px;
}
.shopping-cart .cart-ship-info .grand-total .btn:hover {
	background: #272727;
}
.shopping-cart .cart-ship-info .grand-total p {
	letter-spacing: 1px;
}
.shopping-cart .grand-total p span {
	float: right;
}
.shopping-cart .checkbox input {
	height: auto;
}
.shopping-cart .checkbox label::before {
	margin-left: 0px;
}
.shopping-cart .order-place {
	border: 3px solid #ffe115;
	padding: 30px;
	display: inline-block;
	width: 100%;
}
.shopping-cart .order-place h5 {
	font-weight: bold;
	color: #af5875;
	margin: 0px;
}
.shopping-cart .order-place .order-detail p {
	font-weight: normal;
	color: #2d3a4b;
	border-bottom: 1px solid #ebebeb;
	padding: 10px 0;
	font-size: 12px;
	margin: 0px;
}
.shopping-cart .all-total {
	font-size: 18px !important;
	font-weight: bold !important;
}
.shopping-cart .order-place .order-detail p span {
	float: right;
}
.shopping-cart .order-place .order-detail {
	margin-bottom: 30px;
}
.shopping-cart .order-place .item-order span {
	color: #af5875;
	float: none;
}
.shopping-cart .order-place .item-order {
	min-height: 100px;
	padding-bottom: 30px;
	padding-top: 20px;
	border-top: 1px solid #ebebeb;
}
.shopping-cart .order-place .item-order p {
	text-transform: none;
	font-size: 10px;
	border: none;
	margin: 0px;
	padding: 0px;
	color: #b8b8b8;
	font-weight: normal;
}
.shopping-cart .order-place .pay-meth p {
	color: #b8b8b8;
	font-size: 12px;
	line-height: 18px;
}
.shopping-cart .order-place .pay-meth ul {
	margin-top: 30px;
}
.shopping-cart .order-place .pay-meth ul li {
	display: inline-block;
	width: 100%;
	padding-top: 0px;
}
.shopping-cart .order-place .pay-meth label {
	margin-bottom: 0px;
	font-weight: normal;
	font-size: 12px;
}
.shopping-cart .order-place .pay-meth .color {
	color: #af5875;
}
.shopping-cart .btn {
	font-size: 14px;
	padding: 0px 30px;
}
.shopping-cart .btn:hover {
	background: #ffe115 !important;
}
.small-cart .cart-ship-info form {
	background: #eeeeee;
	padding: 50px;
	display: inline-block;
	width: 100%;
}
.small-cart .cart-ship-info form input {
	width: 70%;
	float: left;
	border-right: 0px;
	margin: 0px;
}
.small-cart .cart-ship-info form button.btn {
	width: 30%;
	height: 44px;
	float: left;
}
.small-cart .coupn-btn {
	margin-top: 30px;
}
.small-cart .coupn-btn .btn {
	background: #eeeeee;
	color: #2d3a4b;
	margin-right: 30px;
}
/*=======================================================
      Knowledge Share
========================================================*/
.knowledge-share {
	position: relative;
}
.knowledge-share:before {
	position: absolute;
	left: 0px;
	right: 0px;
	height: 100%;
	width: 1px;
	background: #d1d5db;
	content: "";
	margin: 0 auto;
}
.knowledge-share .date span {
	color: #2d3a4b;
}
.knowledge-share li {
	padding: 50px 0;
}
.knowledge-share li:nth-child(1) {
	padding-right: 100px;
}
.knowledge-share li:nth-child(2) {
	padding-left: 100px;
}
.knowledge-share li:nth-child(3) {
	padding-right: 100px;
}
.knowledge-share li:nth-child(4) {
	padding-left: 100px;
}
.knowledge-share .date .huge {
	color: #2d3a4b;
	line-height: 80px;
	font-size: 80px;
	display: inline-block;
	width: 100%;
	font-weight: bold;
}
.knowledge-share p {
	font-family: 'Playfair Display', serif;
	max-width: 400px;
}
.knowledge-share a {
	font-weight: bold;
	font-size: 22px;
	font-weight: bold;
	letter-spacing: 3px;
	color: #2d3a4b;
	margin-top: 20px;
	margin-bottom: 10px;
	display: inline-block;
	text-transform: uppercase;
}
.knowledge-share a:hover {
	color: #ffe115;
}
.news-letter {
	background: #131920;
}
.news-letter form {
	max-width: 770px;
	margin: 0 auto;
}
.news-letter form input {
	height: 53px;
	width: 70%;
	padding: 0 20px;
	display: inline;
	font-size: 12px;
	float: left;
}
.news-letter form button {
	height: 53px;
	float: right;
	border: 1px solid #fff;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	background: none;
	width: 28%;
}
.news-letter form button:hover {
	background: #fff;
	color: #131920;
}
.news-letter.style-2 {
	background: #5b53a6;
}
.news-letter.style-2 .heading span {
	color: #fff;
}
.news-letter.style-2 form input {
	border-radius: 50px;
	border: none;
}
.news-letter.style-2 form button {
	border-radius: 50px;
}
.comments .media-body h4 {
	color: #222222;
}
.comments .media-body h4 span {
	font-size: 12px;
	color: #777777;
	margin-left: 20px;
	display: inline-block;
	width: 100%;
}
.comments .media-body a {
}
.comments {
	margin-top: 30px;
}
.comments .media-list {
	margin-bottom: 30px;
}
.comments .media-list li {
	position: relative;
	margin-bottom: 30px;
	display: inline-block;
	width: 100%;
}
.comments .media-left {
	margin-right: 20px;
}
.comments .media-left a {
	width: 70px;
	margin-right: 20px;
	display: inline-block;
}
.comments .media-body {
	position: relative;
	margin-bottom: 30px;
}
.comments h4 {
	font-weight: 500;
	margin: 0px;
	font-size: 20px;
	margin-bottom: 30px;
}
.comments .media p {
	font-size: 13px;
	line-height: 24px;
	margin-bottom: 0px;
}
.comments .media h6 span {
	font-size: 12px;
	color: #2d3a4b;
	margin: 0;
	display: inline-block;
	margin-bottom: 5px;
	margin-top: 10px;
	font-weight: bold;
	margin-left: 20px;
	text-transform: none;
	display: inline-block;
}
.comments .media h6 span i {
	margin-right: 10px;
}
.comments .media {
	margin-top: 40px;
}
.comments .media h6 {
	font-weight: normal;
	color: #666666;
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 16px;
}
.comments .raply {
	position: relative;
	margin-top: 20px;
	display: inline-block;
	text-transform: none;
	font-weight: bold;
	font-size: 12px;
	color: #2d3a4b;
	margin-bottom: 0px;
}
.comments .avatar {
	display: inline-block;
}
.comments .btn.raply:hover {
	background: #00b1f1;
	color: #fff;
}
.comments .media a img {
	margin-bottom: 10px;
	width: 100%;
}
.comments form label {
	text-transform: uppercase;
	font-weight: 500;
	margin-top: 20px;
	display: inline-block;
	width: 100%;
	color: #333333;
	font-size: 10px;
}
.comments form .form-control {
	display: inline-block;
	width: 100%;
	height: 40px;
	margin-top: 5px;
	border-radius: 0px;
	box-shadow: none;
	background: none;
	border: 1px solid #2d3a4b;
}
.comments form textarea.form-control {
	display: inline-block;
	width: 100%;
	height: 150px;
}
.comments {
	margin-bottom: 50px;
}
/*=======================================================
      Testimonial
========================================================*/
.testimonial {
}
.testimonial .testi-in {
	text-align: right;
	position: relative;
}
.testimonial .testi-in i {
	position: absolute;
	top: 0px;
	color: #ffe115;
	right: 0px;
	font-size: 20px;
}
.testimonial .testi-in h5 {
	margin-top: 20px;
}
.testimonial p {
	font-family: 'Playfair Display', serif;
	max-width: 400px;
	margin-top: 40px;
	color: #4d4d4d;
	display: inline-block;
	font-size: 14px;
	line-height: 20px;
}
.testimonial .single-slide {
	padding-top: 15%;
	padding-right: 50px;
}
.testimonial .owl-nav {
	display: none;
}
.testimonial .owl-nav div.owl-prev {
	display: inline-block !important;
	color: #344248;
	margin: 0 15px;
	height: 50px;
	width: 32px;
	border-radius: 4px;
	border: 1px solid #ececec;
	line-height: 48px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: -60px;
	margin-top: -50px;
}
.testimonial .owl-nav div.owl-next {
	display: inline-block !important;
	color: #344248;
	margin: 0 15px;
	height: 50px;
	width: 32px;
	border-radius: 4px;
	border: 1px solid #ececec;
	line-height: 48px;
	text-align: center;
	position: absolute;
	top: 50%;
	right: -60px;
	margin-top: -50px;
}
.testimonial .owl-nav div.owl-next:hover {
	background: #006db7;
	border-color: #006db7;
	color: #fff;
}
.testimonial .owl-nav div.owl-prev:hover {
	background: #006db7;
	border-color: #006db7;
	color: #fff;
}
.testimonial .owl-dots {
	position: absolute;
	bottom: -40px;
	width: 100%;
	text-align: right;
	right: 50px;
}
.testimonial .owl-dots div {
	height: 8px;
	width: 8px;
	display: inline-block;
	background: #d7d9db;
	margin-bottom: 0px;
	margin: 0 2px;
	border-radius: 5px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.testimonial .owl-dots .owl-dot.active {
	background: #ffe115;
	width: 20px;
}
.testimonial .owl-dots .owl-dot span {
	margin: 0px;
}
.small-about {
	border-top: 1px solid #d1d5db;
}
.small-about .social_icons {
	text-align: center;
}
.small-about .social_icons li {
	display: inline-block;
}
.small-about .social_icons li a {
	font-size: 16px;
	margin: 0 5px;
	color: #2d3a4b;
}
.small-about .social_icons li a:hover {
	color: #ffe333;
}
.small-about p {
	font-family: 'Playfair Display', serif;
	color: #4d4d4d;
	font-size: 14px;
	line-height: 20px;
	max-width: 900px;
	margin: 0 auto;
}
/*=======================================================
      SUB BANNER
========================================================*/
.sub-bnr {
	background: url(../../img/b2.jpg) no-repeat;
	background-size: cover !important;
	min-height: 610px;
	text-align: center;
	position: relative;
}
.sub-bnr h4 {
	font-size: 25px;
	color: #fff;
	font-weight: bold;
	letter-spacing: 6px;
	margin-top: 0px;
}
.sub-bnr p {
	color: #666666;
	letter-spacing: 0px;
	font-family: 'Playfair Display', serif;
	font-size: 14px;
	margin-top: 20px;
	max-width: 590px;
	margin: 0 auto;
}
.sub-bnr .breadcrumb {
	background: none;
	margin: 0px;
	height: 40px;
	margin-top: 30px;
	padding: 0px 40px;
	background: #2d3a4b;
	display: inline-block;
	border-radius: 20px;
}
.breadcrumb>li+li:before {
	padding: 0 10px;
}
.sub-bnr h6 {
	display: inline-block;
	color: #fff;
	font-weight: 500;
	font-size: 16px;
	float: left;
	line-height: 58px;
	margin: 0px;
	letter-spacing: 1px;
}
.sub-bnr .breadcrumb li {
	color: #fff;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 38px;
	font-weight: normal;
	font-size: 10px;
	margin: 0px 0;
}
.sub-bnr .breadcrumb li a {
	color: #fff;
	text-transform: none;
	color: #fff;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 10px;
}
.sub-bnr .breadcrumb>li+li:before {
	color: #7a8798;
	float: left;
	content: "\e079";
	font-family: 'Simple-Line-Icons';
}
/*=======================================================
			FOOTER
========================================================*/

footer p {
	font-size: 12px;
	line-height: 26px;
	color: #999999;
}
footer h6 {
	color: #fff;
	margin-top: 0px;
	font-size: 14px;
	margin-bottom: 42px;
	letter-spacing: 1.5px;
}
footer {
	padding: 120px 0;
	padding-bottom: 60px;
	background: #171e27;
	position: relative;
	z-index: 1;
}
.about-footer i {
	width: 20px;
	display: inline-block;
}
.about-footer p {
	margin-bottom: 20px;
}
footer li a {
	font-size: 12px;
	color: #999999;
	line-height: 26px;
	display: inline-block;
	width: 100%;
	letter-spacing: 0px;
}
footer li a:hover {
	color: #fff;
}
.rights .go-up {
	border: 1px solid #454545;
	color: #949494;
	height: 30px;
	width: 30px;
	float: right;
	position: absolute;
	right: 0px;
	left: 0px;
	margin: 0 auto;
	bottom: -60px;
	text-align: center;
	line-height: 30px;
	display: inline-block;
}
.rights .go-up:hover {
	background: #fff;
	color: #333;
}
.rights {
	position: relative;
	text-align: center;
	display: inline-block;
	width: 100%;
	margin-top: 100px;
}
.rights p {
	margin: 0px;
	font-size: 10px;
	line-height: 26px;
	color: #999999;
}
.light-rights {
	background: #eceaea;
}
footer .social_icons {
	display: inline-block;
	margin-top: 20px;
}
footer .social_icons li {
	margin-right: 5px;
}
footer .social_icons a {
	font-size: 14px;
	margin-right: 20px;
	border-radius: 50%;
	line-height: 34px;
	color: #949494;
	display: inline-block;
	text-align: center;
}
.footer-info h6 {
	font-size: 12px;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 2px;
	font-weight: 600;
	margin-bottom: 30px;
}
.news-letter p {
	font-size: 13px;
}
footer .subscribe {
	border-bottom: 1px solid rgba(255,255,255,0.1);
	padding-bottom: 20px;
	margin-top: 10px;
	display: inline-block;
	width: 100%;
}
footer .subscribe button {
	background: #965452 !important;
	border: none;
	float: right;
	margin-top: -45px;
	height: 40px;
	color: #fff;
	padding: 0 20px;
	line-height: 40px;
	z-index: 9;
	position: relative;
}
footer .subscribe input {
	width: 100%;
	border: none;
	height: 40px;
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;
	padding: 0 10px;
	margin-bottom: 5px;
}
.footer-info .links li {
	position: relative;
}
.footer-info .links li a:before {
	content: "\f105 ";
	font-family: FontAwesome;
	color: #8e8e8e;
	position: absolute;
	left: 0px;
	font-size: 12px;
	padding: 0px;
	font-weight: 100;
}
.footer-info .links li a {
	color: #999999;
	padding-left: 15px;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
}
.footer-info .links li a:hover {
	color: #fff;
}
.footer-info .quote .form-control {
	background: none;
	border-radius: 0px;
	border: none;
	border-bottom: 1px solid #45515d;
	margin-bottom: 20px;
	height: 40px;
	font-size: 13px;
}
.footer-info .quote textarea.form-control {
	height: 80px;
}
.footer-info .personal-info {
	margin-top: 30px;
}
.footer-info .personal-info li {
	color: #999999;
	font-size: 12px;
	line-height: 24px;
	padding: 10px 0;
	padding-top: 0px;
	margin-bottom: 10px;
	letter-spacing: 0.5px;
	display: inline-block;
	width: 100%;
	font-weight: 500;
	border-bottom: 1px solid #414141;
}
.footer-info .flicker {
	margin: 0 -3px;
	margin-top: 20px;
}
.footer-info .flicker a:hover {
	opacity: 0.5;
}
.footer-info .flicker .owl-dots {
	text-align: center;
}
.footer-info .flicker .owl-dots .owl-dot {
	display: inline-block;
	height: 5px;
	width: 5px;
	margin: 0 2px;
	background: rgba(255,255,255,0.2);
	border-radius: 4px;
}
.footer-info .flicker .owl-dots .owl-dot.active {
	background: #fff;
}
.footer-info .personal-info li i {
	font-size: 16px;
	color: #929292;
	margin-right: 10px;
	float: left;
	width: 30px;
	margin-top: 3px;
	margin-bottom: 8px;
}
.foot-info-con {
	display: inline-block;
	width: 100%;
	margin-top: 80px;
}
.foot-info-con li a {
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 400;
}
.foot-info-con .icon {
	height: 90px;
	width: 90px;
	color: #fff;
	background: #3f4955;
	text-align: center;
	line-height: 90px;
	display: inline-block;
	border-radius: 0px;
	font-size: 20px;
	margin-right: 10px;
	border-radius: 50%;
}
.foot-info-con p {
	font-size: 14px;
	margin: 0px;
}
.foot-info-con h6 {
	font-weight: normal;
	font-family: 'Ubuntu';
	color: #fff;
	font-weight: bold;
	margin-top: 20px;
	font-size: 15px;
	text-transform: none;
	margin-bottom: 4px;
	letter-spacing: 2px;
}
.footer-light {
	background: #f9f9f9;
}
.footer-light h6 {
	color: #333333;
}
.footer-light .rights {
	margin-top: 60px;
	background: #efeeee;
}
/*=======================================================
			CONTACT FORM
========================================================*/
/*=======================================================
			CONTACT FORM
========================================================*/
.contact {
	padding: 100px 0;
}
.contact #contact_form {
	text-align: center;
}
.contact .error {
	border: 1px solid red;
}
.success-msg {
	background: #fff;
	border: 1px solid #2d3a4b;
	color: #589051;
	margin-bottom: 30px;
	width: 100%;
	display: inline-block;
	text-align: center;
	padding: 11px 16px;
	border-radius: 4px;
	display: none;
}
.success-msg i {
	padding: 10px;
	border-radius: 50%;
	border: 1px solid #ABD0A8;
	margin-right: 10px;
}
#contact_form li {
	text-align: left;
	margin-bottom: 10px;
}
#contact_form li input {
	display: inline-block;
	width: 100%;
	height: 45px;
	padding: 0 10px;
	margin-top: 15px;
}
#contact_form li .error {
	border: 1px solid #CCC;
	border-bottom: 1px solid red;
}
#contact_form li .form-control {
	height: 45px;
	border: 1px solid #2d3a4b;
	box-shadow: none;
	border-radius: 0px;
	background: #fff;
}
#contact_form li textarea {
	height: 140px !important;
	margin-top: 10px;
}
#contact_form li .btn {
	text-transform: uppercase;
	padding: 0px 40px;
	height: 45px;
	line-height: 45px;
	font-size: 14px;
	margin-top: 15px;
}
#contact_form li .btn:hover {
	background: #ffe115;
}
.contact-form .tittle {
	text-align: center;
}
.contact-form .tittle hr {
	width: 28px;
	height: 5px;
	margin: 15px auto;
	background: #448aff;
	border: none;
}
.contact-form .tittle p {
	text-transform: none;
	font-size: 16px;
}
.contact-form label {
	font-weight: normal;
	color: #2d3a4b;
	font-size: 12px;
	text-transform: uppercase;
	display: inline-block;
	width: 100%;
	margin: 0px;
	margin-bottom: 13px;
}
.contact-form textarea {
	display: inline-block;
	width: 100%;
	position: relative;
	padding: 10px 20px;
}
#map {
	height: 530px;
	margin-bottom: 0px;
}
.contact h5 {
	color: #2d3a4b;
	margin-top: 0px;
	font-size: 20px;
	letter-spacing: 2px;
	margin-bottom: 50px;
}
.contact-info li {
	position: relative;
	padding-left: 30px;
	margin-top: 20px;
	margin-bottom: 10px;
}
.contact-info li p {
	line-height: 20px;
	font-size: 12px;
}
.contact-info li i {
	position: absolute;
	top: 0px;
	left: 0px;
	line-height: 30px;
	font-size: 12px;
}
.contact-info li {
	font-size: 12px;
	line-height: 30px;
}
.contact-info h6 {
	margin-top: 0px;
	font-size: 12px;
	font-weight: normal;
}
.contact-info {
	border: 2px solid #ffe115;
	padding: 40px;
	margin-top: 0px;
}
.single-img-demos .item:hover .img-1 {
	left: 0px;
}
.single-img-demos .item:hover img {
	-webkit-transform: scale3d(1.1, 1.1, 1);
	transform: scale3d(1.1, 1.1, 1);
}
/* -------------------------------- 
	Main Components 
-------------------------------- */
main {
	position: relative;
	z-index: 99;
	height: 100%;
	-webkit-overflow-scrolling: touch;
	background-color: #fff;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.7s;
	-moz-transition: -moz-transform 0.7s;
	transition: transform 0.7s;
	-webkit-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
	-moz-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
	transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
}
.navigation-is-open main {
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-o-transform: translateX(100%);
	transform: translateX(100%);
}
.cd-nav-trigger {
	position: absolute;
	z-index: 9999999;
	left: 100px;
	top: 13px;
	height: 54px;
	width: 54px;
	border-radius: 50%;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	-webkit-transition: -webkit-transform 0.5s;
	-moz-transition: -moz-transform 0.5s;
	transition: transform 0.5s;
}
.header-2 .is-sticky .sticky .cd-nav-trigger {
	top: 8px;
}
.cd-nav-trigger .cd-nav-icon {
	position: absolute;
	left: 50%;
	top: 50%;
	bottom: auto;
	right: auto;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	width: 22px;
	height: 2px;
	background-color: #000;
}
.cd-nav-trigger .cd-nav-icon::before, .cd-nav-trigger .cd-nav-icon:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: inherit;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.5s, width 0.5s, top 0.3s;
	-moz-transition: -moz-transform 0.5s, width 0.5s, top 0.3s;
	transition: transform 0.5s, width 0.5s, top 0.3s;
}
.cd-nav-trigger .cd-nav-icon::before {
	-webkit-transform-origin: right top;
	-moz-transform-origin: right top;
	-ms-transform-origin: right top;
	-o-transform-origin: right top;
	transform-origin: right top;
	-webkit-transform: translateY(-6px);
	-moz-transform: translateY(-6px);
	-ms-transform: translateY(-6px);
	-o-transform: translateY(-6px);
	transform: translateY(-6px);
}
.cd-nav-trigger .cd-nav-icon::after {
	-webkit-transform-origin: right bottom;
	-moz-transform-origin: right bottom;
	-ms-transform-origin: right bottom;
	-o-transform-origin: right bottom;
	transform-origin: right bottom;
	-webkit-transform: translateY(6px);
	-moz-transform: translateY(6px);
	-ms-transform: translateY(6px);
	-o-transform: translateY(6px);
	transform: translateY(6px);
}
.no-touch .cd-nav-trigger:hover .cd-nav-icon::after {
	top: 2px;
}
.no-touch .cd-nav-trigger:hover .cd-nav-icon::before {
	top: -2px;
}
.cd-nav-trigger svg {
	position: absolute;
	top: 0px;
	left: 0px;
}
.cd-nav-trigger circle {
	-webkit-transition: stroke-dashoffset 0.4s 0s;
	-moz-transition: stroke-dashoffset 0.4s 0s;
	transition: stroke-dashoffset 0.4s 0s;
}
.navigation-is-open .cd-nav-trigger {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
.navigation-is-open .cd-nav-trigger .cd-nav-icon::after, .navigation-is-open .cd-nav-trigger .cd-nav-icon::before {
	width: 50%;
	-webkit-transition: -webkit-transform 0.5s, width 0.5s;
	-moz-transition: -moz-transform 0.5s, width 0.5s;
	transition: transform 0.5s, width 0.5s;
}
.navigation-is-open .cd-nav-trigger .cd-nav-icon::before {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.navigation-is-open .cd-nav-trigger .cd-nav-icon::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.no-touch .navigation-is-open .cd-nav-trigger:hover .cd-nav-icon::after, .no-touch .navigation-is-open .cd-nav-trigger:hover .cd-nav-icon::before {
	top: 0;
}
.navigation-is-open .cd-nav-trigger circle {
	stroke-dashoffset: 0;
	-webkit-transition: stroke-dashoffset 0.4s 0.3s;
	-moz-transition: stroke-dashoffset 0.4s 0.3s;
	transition: stroke-dashoffset 0.4s 0.3s;
}
.navigation-is-open {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 999;
	overflow: hidden;
	overflow-y: scroll;
}
.cd-nav {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #fff url(../images/special-bg.jpg) center center no-repeat;
	background-size: cover;
	visibility: hidden;
	-webkit-transition: visibility 0s 0.7s;
	-moz-transition: visibility 0s 0.7s;
	transition: visibility 0s 0.7s;
}
.cd-nav:before {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	content: "";
	background: rgba(255,255,255,0.8);
}
.cd-nav .position-center-center {
	width: 100%;
	padding: 0 100px;
}
.cd-nav .cd-navigation-wrapper {
	height: 100%;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transition: -webkit-transform 0.7s;
	-moz-transition: -moz-transform 0.7s;
	transition: transform 0.7s;
	-webkit-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
	-moz-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
	transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
}
.navigation-is-open .cd-nav {
	visibility: visible;
	-webkit-transition: visibility 0s 0s;
	-moz-transition: visibility 0s 0s;
	transition: visibility 0s 0s;
}
.navigation-is-open .cd-nav .cd-navigation-wrapper {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
	-webkit-transition: -webkit-transform 0.5s;
	-moz-transition: -moz-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
	-moz-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
	transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
}
.cd-nav h2 {
	position: relative;
	font-weight: 800;
	text-transform: uppercase;
	margin-top: 0px;
	color: #2d3a4b;
}
.cd-nav h2::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -20px;
	height: 1px;
	width: 60px;
	background-color: currentColor;
}
.cd-nav .cd-primary-nav {
	margin-top: 60px;
}
.cd-nav .cd-primary-nav li {
	position: relative;
}
.cd-nav .cd-primary-nav li.active a:before {
	width: 100%;
	margin: 0px auto;
	position: absolute;
	content: "";
	height: 6px;
	top: 48%;
	z-index: -1;
	background: #ffe115;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
.cd-nav .cd-primary-nav li a:before {
	width: 0%;
	margin: 0px auto;
	position: absolute;
	content: "";
	height: 6px;
	top: 48%;
	z-index: -1;
	background: #ffe115;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
.cd-nav .cd-primary-nav li a:hover:before {
	width: 100%;
}
.cd-nav .cd-primary-nav a {
	color: #2d3a4b;
	position: relative;
}
.cd-nav .cd-primary-nav a.selected {
	color: #ffffff;
}
.no-touch .cd-nav .cd-primary-nav a:hover {
}
.cd-nav .cd-contact-info {
}
.cd-nav .cd-contact-info li {
	margin-bottom: 1.5em;
	line-height: 1.2;
	color: #fff;
}
.cd-nav .cd-contact-info a {
	color: #ffffff;
}
.cd-nav .cd-contact-info span {
	display: block;
}
.cd-nav .cd-contact-info li, .cd-nav .cd-contact-info a, .cd-nav .cd-contact-info span {
	font-size: 1.6rem;
}
.cd-nav .cd-navigation-wrapper {
	padding-top: 80px;
}
.cd-nav .cd-navigation-wrapper::after {
	clear: both;
	content: "";
	display: table;
}
.cd-nav .cd-half-block {
	width: 50%;
	float: left;
}
.cd-nav .cd-primary-nav {
	margin-top: 0;
}
.cd-nav .cd-primary-nav a {
	font-size: 50px;
	text-transform: uppercase;
	font-weight: bold;
}
.cd-nav .cd-contact-info {
	text-align: right;
}
.cd-nav .cd-contact-info li, .cd-nav .cd-contact-info a, .cd-nav .cd-contact-info span {
}
.no-js main {
	height: auto;
	overflow: visible;
}
.no-js .cd-nav {
	position: static;
	visibility: visible;
}
.no-js .cd-nav .cd-navigation-wrapper {
	height: auto;
	overflow: visible;
	padding: 100px 5%;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}
/*20-8-2016*/
.top-bar {
	background: rgba(0,0,0,0.95);
	height: 50px;
}
.curency {
	float: left;
}
.curency .bootstrap-select {
	width: 60px !important;
}
.curency .bootstrap-select .btn {
	color: #fff;
	font-size: 12px;
	padding: 12px 10px;
}
.curency .bootstrap-select .dropdown-menu {
	padding: 0px;
	text-align: left;
	border: 1px solid rgba(0,0,0,0.1);
	border-top: none;
}
.top-bar .container {
	padding: 0px;
}
.curency .bootstrap-select .dropdown-menu a {
	padding: 0px;
	padding-left: 10px;
	font-size: 14px;
	line-height: 26px;
}
.top-bar .login-info {
	float: right;
}
.top-bar .login-info li {
	display: inline-block;
	float: left;
	padding: 0 15px;
}
.top-bar .login-info a {
	color: #fff;
	font-size: 12px;
	line-height: 50px;
}
.top-bar .user-basket .dropdown-menu {
	margin-top: 0px;
	padding: 20px;
	border: none;
	left: -352px;
	border-radius: 0px;
	min-width: 350px;
}
.top-bar .user-basket i {
	font-size: 16px;
	margin-top: 3px;
}
.top-bar .user-basket .dropdown-menu li {
	padding: 0px;
	margin: 0px;
	margin-bottom: 20px;
	display: inline-block;
	position: relative;
	width: 100%;
}
.top-bar .user-basket h5 {
	font-weight: normal;
	font-size: 16px;
	border-top: 1px solid rgba(0,0,0,0.1);
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding: 10px 0;
}
.top-bar .user-basket .btn {
	padding: 0px 0px;
	width: 100%;
	letter-spacing: 0px;
	color: #fff;
	border: none;
}
.top-bar .user-basket .btn:hover {
	background: #ffe115;
	color: #2d3a4b;
}
.top-bar .user-basket .media-heading {
	margin-top: 0px;
	font-weight: normal;
}
.top-bar .user-basket span {
	display: inline-block;
	width: 100%;
	margin: 5px 0;
	font-size: 12px;
}
.top-bar .user-basket .cart-img a {
	display: inline-block;
	width: 100%;
	padding: 0px;
}
.top-bar .user-basket .cart-img {
	width: 90px;
	margin-right: 10px;
	box-shadow: 0 0 2px rgba(0,0,0,0.2);
	padding: 5px;
	display: inline-block;
}
.navbar-right .curency .bootstrap-select .btn {
	padding: 0px;
	color: #333;
	box-shadow: none;
}
.navbar-right .curency li {
	padding: 0px;
	margin: 0px;
}
.navbar-right .curency .dropdown-menu li a span.text {
	font-size: 12px;
}
.full-header {
	width: 100%;
	padding: 0 50px !important;
}
.navbar-right .curency .bootstrap-select .btn {
	line-height: 20px;
}
.navbar-right .curency .dropdown-menu>li>a {
	letter-spacing: 0px;
}
.ownmenu .nav .dropdown-menu.two-option {
	min-width: 475px !important;
	padding: 20px !important;
	border-radius: 0 0 6px 6px;
}
.ownmenu .nav .dropdown-menu.two-option li {
	width: 100%;
}
.ownmenu .nav .dropdown-menu.two-option li a {
	letter-spacing: 2px !important;
	text-transform: uppercase;
}
.ownmenu .nav .dropdown-menu.two-option ul {
	position: relative;
}
.ownmenu .nav .dropdown-menu.two-option ul:nth-child(1) {
	border-right: 1px solid rgba(0,0,0,0.1);
	padding-right: 0px;
}
.ownmenu .nav .dropdown-menu.two-option a:after {
	display: none;
}
.ownmenu .nav .dropdown.megamenu .dropdown-menu a:after {
	display: none;
}
.login-with li {
	margin-bottom: 20px;
}
.login-with li a {
	display: inline-block;
	width: 100%;
	border: 1px solid #2d3a4b;
	padding: 15px 0;
	text-align: center;
}
.login-with li a i {
	margin-right: 10px;
	font-size: 14px;
}
.login-with li a:hover {
	background: #ffe115;
}
.cart-ship-info.register select {
}
.cart-ship-info.register .bootstrap-select .btn {
	height: 44px;
	border: 1px solid #2d3a4b;
	box-shadow: none;
	letter-spacing: 0px;
	background: #fff !important;
	padding: 0 15px;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
	color: #2d3a4b;
	font-size: 12px;
}
.cart-ship-info.register .bootstrap-select.btn-group .dropdown-menu li {
	min-height: auto;
}
.cart-ship-info.register .bootstrap-select.btn-group .dropdown-menu li a span.text {
	display: inline-block;
	font-size: 13px;
}
